[Unit]
Description=Notify the user when the next update has been downloaded.
# order after update has been applied
After=bootc-status-updated.target

[Service]
Type=exec
ExecStart=/usr/bin/systemd-run --user notify-send 'Update Downloaded!' 'A new update has been downloaded! Please restart to apply update!'

[Install]
WantedBy=bootc-status-updated.target