[Unit]
Description=Background service
# order startup after WM
After=graphical-session.target

[Service]
Type=exec
# Repurpose XDG Autostart filtering
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "wlroots:sway:Wayfire:labwc:Hyprland" ""
ExecStart=/usr/bin/swww-daemon
Restart=on-failure
Slice=app-graphical.slice

[Install]
WantedBy=graphical-session.target